*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/symphony.png);
    font-family: sans-serif;
}

.center{
    width: 70%;
    margin: 0px auto;
}
.clear{
    clear: both;
}

/*Header*/
header{
    height: 140px;
    background-color: #732C7C;
    min-width: 960px;
}
#logo{
    margin: 18px 0px 16px 0px;
    float: left;
}
input[type="text"]{
    color: #999;
    float: right;
    width: 190px;
    height: 26px;
    margin: 28px 0px 16px 0px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.linea-header{
    clear: both;
    border-bottom: solid #fff  1px;
}
nav{
    float: right;
}
nav li{
    list-style-type: none;
    float: left;
    margin: 0px 5px;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
nav a:hover{
    text-decoration: none;
    color: #732C7C;
    font-size: 16px;
    padding: 10px;
    background: #BB9EBD;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#migajas{
    margin: 0px auto;
    background: #e6e6e6;
    padding: 1px 20px 1px 20px;
    width: 960px;
    font-size: 12px;
}

h1{
    text-align: center;
    margin: 34px auto;
    font-size: 350%;
    color: #732C7C;
}

/*secciones*/
#secciones {
    width: 960px;
    height: 490px;
    position: relative;
    margin: 0px auto;
}
figure {
    margin: 0px;
    color: #732C7C;
    font-size: 20px;
    font-weight: bold;
}
figure:hover{
    color: #fff;
    background: #732C7C;
    padding: 1px;
    text-decoration: underline;
    -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
figcaption{
    text-align: center;
    width: 228px;
    margin-top: -4px;
    padding: 1px;
}
.chico1{
    position: absolute;
    top: 0;
    left: 44px;
}
.chico2{
    position: absolute;
    top: 0;
    left: 360px;
}
.chico3{
    position: absolute;
    top: 0;
    right: 44px;
}
.chico4{
    position: absolute;
    top: 200px;
    left: 44px;
}
.chico5{
    position: absolute;
    top: 200px;
    left: 360px;
}

/*footer*/
footer{
    background-color: #fff;
    border-top: solid 2px #732C7C;
    margin: 30px 0px 0px 0px;
    color: #732C7C;
    font-size: 14px;
}
#logo2{
    float: left;
}
footer ul{
    float: left;
}
footer li{
    float: left;
    list-style-type: none;
    margin-top: 12px
}
footer li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: #732C7C;
}
footer li a:hover{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: #732C7C;
    background: #BB9EBD;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
footer p{
    float: right;
    margin-top: 32px;
}
footer p a{
    color: #732C7C;
}
footer p a:hover{
    color: #732C7C;
    background: #BB9EBD;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}